<header class="navbar">
    <div class="logo">
      <img src="assets/images/logo.png" alt="KanBoard Logo" class="logo-img" />
      <span>KanBoard</span>
    </div>
</header>

<div class="reset-container">
    <h2>Reset Your Password</h2>
    <p>Create a new password for your account</p>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" id="password" formControlName="password"
                placeholder="Enter new password (min 8 characters)" autocomplete="new-password" required>
            <!--Show error messages-->
            <div *ngIf="password?.touched && password?.invalid" class="error-message">
              <small *ngIf="password?.errors?.['required']">Password is required.</small>
              <small *ngIf="password?.errors?.['pattern']">
                    Password must be at least 8 characters long and include uppercase, lowercase, number, and special character.
              </small>
            </div>
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                placeholder="Re-enter new password" autocomplete="new-password" required>
                <!--Show error messages-->
                <div *ngIf="confirmPassword?.touched && resetForm.errors?.['mismatch']" class="error-message">
                  <small>Passwords do not match.</small>
                </div>
        </div>

        <button type="submit" [disabled]="resetForm.invalid || isLoading">
            {{ isLoading ? 'Processing...' : 'Reset Password' }}
        </button>
    </form>
</div>

<footer class="footer">
    <div class="footer-links">
      <a href="#" style="font-size:large"><b>FAQs</b></a>
      <a href="#" style="font-size:large"><b>Contact</b></a>
      <a href="#" style="font-size:large"><b>Privacy Policy</b></a>
    </div>
    <p style="margin-top: 10px; font-size:medium; color:#666">&copy; 2025 Kanboard. All rights reserved.</p>
</footer>